= form_for @user do |f|
  .form-group
    = f.text_field :email, class: "form-control", placeholder: "Email"
  .form-group
    = f.password_field :password, class: "form-control", placeholder: "Password"
  .form-group
    = f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"
  = f.submit "Create", class: "btn btn-custom"